In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split 
from env import host, user, password
import acquire
import wrangle

In [2]:
df = acquire.get_zillow_data()

In [3]:
df = wrangle.handle_nulls(df)

In [4]:
df.isnull().sum()

parcelid                        0
bathroomcnt                     0
bedroomcnt                      0
buildingqualitytypeid           0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
unitcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
logerror                        0
heatingorsystemdesc             0
propertylandusedesc             0
dtype: int64

In [5]:
df = wrangle.prepare_zillow(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75206 entries, 0 to 76724
Data columns (total 30 columns):
parcelid                        75206 non-null int64
bathroomcnt                     75206 non-null float64
bedroomcnt                      75206 non-null float64
buildingqualitytypeid           75206 non-null float64
calculatedfinishedsquarefeet    75206 non-null float64
finishedsquarefeet12            75206 non-null float64
fullbathcnt                     75206 non-null float64
latitude                        75206 non-null float64
longitude                       75206 non-null float64
lotsizesquarefeet               75206 non-null float64
propertycountylandusecode       75206 non-null object
rawcensustractandblock          75206 non-null float64
regionidcity                    75206 non-null float64
regionidcounty                  75206 non-null float64
regionidzip                     75206 non-null float64
roomcnt                         75206 non-null float64
unitcnt                         75206 non-null float64
yearbuilt                       75206 non-null float64
structuretaxvaluedollarcnt      75206 non-null float64
taxvaluedollarcnt               75206 non-null float64
assessmentyear                  75206 non-null float64
landtaxvaluedollarcnt           75206 non-null float64
taxamount                       75206 non-null float64
logerror                        75206 non-null float64
heatingorsystemdesc             75206 non-null object
propertylandusedesc             75206 non-null object
Los_Angeles                     75206 non-null uint8
Orange                          75206 non-null uint8
Ventura                         75206 non-null uint8
age                             75206 non-null float64
dtypes: float64(23), int64(1), object(3), uint8(3)
memory usage: 16.3+ MB

In [13]:
df.to_csv('zillow_df.csv')

In [14]:
df = pd.read_csv('zillow_df.csv')

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fullbathcnt,...,assessmentyear,landtaxvaluedollarcnt,taxamount,logerror,heatingorsystemdesc,propertylandusedesc,Los_Angeles,Orange,Ventura,age
0,0,0,0,14297519,3.5,4.0,6.0,3100.0,3100.0,3.0,...,2016.0,537569.0,11013.72,0.025595,None,Single Family Residential,0,1,0,19.0
1,1,1,1,17052889,1.0,2.0,6.0,1465.0,1465.0,1.0,...,2016.0,376000.0,5672.48,0.055619,None,Single Family Residential,0,0,1,50.0
2,2,2,2,14186244,2.0,3.0,6.0,1243.0,1243.0,2.0,...,2016.0,479489.0,6488.30,0.005383,None,Single Family Residential,0,1,0,55.0
3,3,3,3,12177905,3.0,4.0,8.0,2376.0,2376.0,3.0,...,2016.0,36225.0,1777.51,-0.103410,Central,Single Family Residential,1,0,0,47.0
4,4,4,4,10887214,3.0,3.0,8.0,1312.0,1312.0,3.0,...,2016.0,45726.0,1533.89,0.006940,Central,Condominium,1,0,0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75201,75201,75201,76720,11000655,2.0,2.0,6.0,1286.0,1286.0,2.0,...,2016.0,283704.0,4478.43,0.020615,Central,Single Family Residential,1,0,0,77.0
75202,75202,75202,76721,17239384,2.0,4.0,6.0,1612.0,1612.0,2.0,...,2016.0,16522.0,1107.48,0.013209,None,Single Family Residential,0,0,1,53.0
75203,75203,75203,76722,12773139,1.0,3.0,4.0,1032.0,1032.0,1.0,...,2016.0,16749.0,876.43,0.037129,Central,Single Family Residential,1,0,0,63.0
75204,75204,75204,76723,12826780,2.0,3.0,6.0,1762.0,1762.0,2.0,...,2016.0,382000.0,6317.15,0.007204,Central,Single Family Residential,1,0,0,62.0
75205,75205,75205,76724,13083743,2.0,3.0,4.0,1050.0,1050.0,2.0,...,2016.0,182216.0,3345.78,-0.197755,Floor/Wall,Single Family Residential,1,0,0,57.0